
Backend/Expressdir/node_modules/
Frontend/node_modules/

# Environment variables
Backend/Expressdir/.env
Frontend/.env

# Build files
Frontend/dist/
Frontend/build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db